<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body id="MenuAdmin">
    <%- include('../partials/header')%>
    <div>
        <ul>
            <li> <a href="/producto/Create">Añadir Producto</a> </li>
            <li> <a href="/producto/">Editar Producto</a> </li>
        </ul>
    </div>
    
    <%- include('../partials/footer')%> 
</body>
</html>