<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li> <a href="/producto/Create">Añadir Producto</a> </li>
        <li> <a href="/producto/catalogo">Editar Producto</a> </li>
        <li> <a href="/producto/catalogo">Baja Producto</a> </li>
    </ul> 
</body>
</html>