*{
    color: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    min-height: 100%;
    position: relative;
  }

img{
    width: 100%;
}

header{
    background-color: white;
}
header nav ul li a{
    width: 15%;
    color: #99DDCC;
    font-size: 30px;
    /*margin: 10px;*/
   
}
header nav ul li{
    display: flex;
    width: 25%;
    align-content: center;
    justify-content:space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*esto hace el salto de linea*/
}


.fas-fa {
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.fas-fa .fas-fa-home{
    color: white;
    background-color: black;
}
/* aqui empiezan estilos del alta*/
form{
    display: flex;
    background-color: black;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 5px;
    font-size:x-large;
   
}

#AltaProducto {
    
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-content: flex-end;
    background-color: black;
    margin: 20px;
    padding: 10px;
}
input{
    color: black;
}
button{
    color: black;
}
select{
    color: black;
}
option{
    color: black;
}

footer {
    background-color: black;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
}
footer a img{
    width: 8%;
}
.etiquetasPie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

img.redesSociales{
    align-items: flex-end;
}

/*correccion del header, copie lo de rocio y quite el codigo que no hace nada*/
nav ul li {
    flex-grow: 1;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    flex-wrap: wrap;
    position: relative;
}
@media (min-width:1280px){

}
@media (max-width:1279px){

}
@media (max-width:768px ) and (min-width:481) and (max-height:480) {
  
}

@media (max-width:480px){
  

}