*{
    color: white;
    box-sizing:  border-box;
}
body{
    width: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 40px;
    margin: auto;
}
/*de aqui el contenido*/
img{
    width: 100%;
    height: 100%;
}
#TotalFacturado{
    text-align: right;
}
header{
    background-color: white;
}
header nav ul li a{
    width: 15%;
    color: #99DDCC;
    font-size: 30px;
    margin: 10px;
   
}
header nav ul li{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content:space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*esto hace el salto de linea*/
}


.fas-fa {
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    right: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.fas-fa .fas-fa-home{
    color: white;
    background-color: black;
}
.special{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    height: 4vh;
}
footer a img{
    width: 8%;
}

#footer { 
    position:relative;
    height: 10vh;
    /*bottom: 40px;*/
    margin-bottom: 20px;
}
.etiquetasPie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

section.infoContacto{
    align-items: flex-end;
}

html{
    height: 100%;
}
img.redesSociales{
    align-items: flex-end;
}
#Producto{
    width: 22,5%;
}
#PrecioUnitario{
    width: 22,5%;
}
#Cantidad{
    width: 22,5%;
}
#PrecioTotal{
    width: 22,5%;
}
/*correccion del header, copie lo de rocio y quite el codigo que no hace nada*/
nav ul li {
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    flex-wrap: wrap;
    position: relative;
}
/*detalle de productos*/
section article{
    display: flex;
    width: 47%;
    flex-direction: row;
}
section article section{/*apartado Img y Descripcion*/
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #99DDCC;
    align-content: center;
    justify-content: center;
    text-align: center;
}
section article section div{/*contenedor de C/U*/
    display: flex;
    height: 10%;
    justify-content:center;
}
section article section div button{/*control de cantidad unidades*/
    background-color: #99DDCC;
    height: 100%;
    width: 10%;
    border: none;
}
section article section div label{/*label de cantidad de unidades*/
    border: 1px solid #99DDCC;
    width: 25%;
    align-items: center;
    text-justify: auto;
}
section article section label select{/*desplegable del talle*/
    background-color: #99DDCC;
}
section article section button{/*button de send*/
    background-color: #99DDCC;
    width: 100%;
    height: 10%;
}
section.Productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:1280px){

}
@media (max-width:1279px){

}
@media (max-width:768px){
    

}

@media (max-width:480px){
  

}