*{
    box-sizing:  border-box;
    padding: 0px;
    margin: 0px;
}
img{
    width: 100%;
}
/*header*/
header{
    background-color: white;
}
header img{
    width: 100%;
}
header nav ul li a{
    width: 15%;
    color: #99DDCC;
    margin: 10px;
   
}
header nav ul li{
    display: flex;
    width: 25%;
    align-content: center;
    justify-content:space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*esto hace el salto de linea*/
}
/*correccion del header, copie lo de rocio y quite el codigo que no hace nada*/
nav ul li {
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    flex-wrap: wrap;
    position: relative;
}


/*header*/
body#bodyCarritoCompras{
    width: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 40px;
    margin: auto;
    color: white;
}
/*ajustes del carrito*/
#bodyCarritoCompras table{
    width: 100%;
}
#bodyCarritoCompras tr{
    width: 100%;
    text-align: center;
}
#bodyCarritoCompras thead{
    height: 4vh;
    font-size: medium;
    font-family: cursive;
}
#bodyCarritoCompras tbody{
    height: 50vh;
}
#bodyCarritoCompras tbody.resultados{
    height: 5vh;
}

#bodyCarritoCompras tr td.dproducto{
    
    height: auto;
    background-color: #99DDCC;
    justify-content: center;
    align-items: center;
    width: 22%;
    color: black;
}
#bodyCarritoCompras tr td.producto img{
    justify-content: center;
    align-items: center;
}
#bodyCarritoCompras td.imagenProducto{
    width: 40%;
}

#bodyCarritoCompras button{

    background-color: #99DDCC;
    width: 100%;
    color: #FF5DA2;
    /*border: solid #FF5DA2 5px;*/
    justify-content: space-around;
}
#bodyCarritoCompras td button{
    width: 40%;
}
#bodyCarritoCompras td.NoProducto{
    border: none;
    color: white;
}
#bodyCarritoCompras td.NoProducto button{
    width: 100%;
    height: 10vw;
    background:none;
    border: none;
    font-size: 50px
}
#bodyCarritoCompras td.dproducto label{
    font-size: 25px;
}
#bodyCarritoCompras tr td{
    border: 1px solid white;
}

#bodyCarritoCompras tr.resultados td{
    border: none;
}
#bodyCarritoCompras tr.resultados td.resultados{
    border: 1px solid white;
    background-color: #FF5DA2;
}
#bodyCarritoCompras .special{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    height: 4vh;
}
#bodyCarritoCompras td.imagenProducto img{
    width: 100%;
}

/*fin stylos carrito*/
/*estilos unproducto*/
#bodyUnProducto article section {
    display: flex;
    margin-top:35px;
    margin-bottom: 0px;
    border: 1px solid rgb(245, 207, 222);
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 6px #fff;
    padding: 10px;
    
    
    
}
body#bodyUnProducto{
    width: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 40px;
    margin: auto;
}


#bodyUnProducto button {
    
    width: 100%;
    font-size: 15px;
    color: white;
    background: rgb(204,47,223);
    background: linear-gradient(0deg, rgba(204,47,223,1) 34%, rgba(159,34,195,1) 100%);
    border: 2px solid rgb(159,34,195);;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 6px #fff;

}
/*fin estilos unProducto*/

/*inicio estilos ModificarProducto*/
body#bodyModificarProducto{
    align-items: center;
    justify-items: center;
    width: 100%;
    background-image: url("https://cdn.shopify.com/s/files/1/1171/8456/files/71530421_729406894232388_5302369846022799223_n_1024x1024.jpg?v=1636497317");
    background-size: cover;

}
#bodyModificarProducto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#bodyModificarProducto .wrapper {
    margin-top: 20px;
    background: #fff;
    padding: 30px;
    margin: auto;
}

#bodyModificarProducto .wrapper .title{ 
    font-size: 24px;
    font-weight: 700;
    color: plum;
    text-align: center;
    margin-bottom: 25px;
}

#bodyModificarProducto form { 
    width: 100%;
    background-color: white;
}

#bodyModificarProducto .wrapper .form .inputfield label { 
color: #757575;
font-size: 14px;
}

#bodyModificarProducto .wrapper .form .inputfield .input { 
    width: 100%;
    border: 1px solid #d5d5d5;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    margin-top: 20px;
}
#bodyModificarProducto form{
    width: 100%;
}
#bodyModificarProducto form button{
    width: 100%;
    border: 2px solid #99DDCC;
    background-color: white;
}
/*fin de estilos modificar producto*/
/*estilos catalogo*/
body#bodyCatalogo{
    width: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 40px;
    margin: auto;
}
#bodyCatalogo section article{
    display: flex;
    width: 45%;
    flex-direction: column;
    height: auto;
    margin: 2%;
    
}

#bodyCatalogo section.imagenProducto{
    height: 600px;

}
#bodyCatalogo section.datos{
    background-color: #99DDCC;
    
}
#bodyCatalogo section.datos label.Nombre{
    font-size: 30px;
    color: black;
}
#bodyCatalogo section.datos label.Precio{
    font-size: 20px;
    color: black;
}
#bodyCatalogo section article section{/*apartado Img y Descripcion*/
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #99DDCC;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#bodyCatalogo section.Productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*fin estilos catalogo*/
/*Home*/
body#bodyHome{
    width: 100%;
    background: rgb(241,104,193);
    background: linear-gradient(207deg, rgba(241,104,193,1) 0%, rgba(189,94,213,1) 62%);
  }
/*CSS del slider*/

#bodyHome ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
  }
  
  #bodyHome ul.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
  }
  #bodyHome ul.slider li {
    opacity: 0; /*Ocultamos todos los <li>*/
    transition: opacity .5s;
    position: absolute; /*Posicionamos en absoluto los <li>*/
    left: 0px;
    top: 0px;
    margin:50px;
    padding:50px;
    border:2px solid red;
    background:#fff;
  }
  #bodyHome ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
  }
  #bodyHome ul.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
  }
  #bodyHome nav .slide-num{
    position:relative;
    margin-top:35%;
    
  }
  
  
  
  
  #bodyHome ul.slider {
    padding: 30px;
  }
  
  #bodyHome ul.slider li {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0; 
    transition: opacity .5s;
    text-align: center;
  }
  
  
  /*aca se modifican los botones de diapositiva*/
  #bodyHome nav .menu{ 
    width: 100%;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 1px;
    left: 0;
    background: #f1f2f3;
    /**/
  }
  
  #bodyHome nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  #bodyHome nav ul li {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  #bodyHome nav a{
    font-size: calc( 1.2rem + 1vw );
    text-decoration: none;
    font-weight: bold;
    color: #00324b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    border-right: 1px solid #00324b;
    flex-wrap: wrap;
    position: relative;
  }
  
  #bodyHome nav li:last-child a {
    border-right: 0;
  }
  
  #bodyHome nav a:hover {
    background-color: #3ccabe;
    color: #fff;
    border-top-color: #65bce8;
  }
  
  #bodyHome nav a:active {
    border-top-color: rgb(106, 219, 195);
    background: rgb(187, 22, 146);
    color: #23d6be;
  }
  
  
  /*fin CSS del slider*/
  
  /*MAIN*/
  
  
  #bodyHome main{
    margin: auto;
    width: 90%;
    
  }
  #bodyHome main article{
    margin: auto;
    margin-top:15px;
    width: 100%;
    
  }
  #bodyHome main article img{
    width: 100%;
  }
  
  #bodyHome .caja-detalle{
    border: 3px black solid;
    padding: 15px;
    background: rgb(241,104,193);
    background: linear-gradient(207deg, rgba(241,104,193,1) 0%, rgba(242,223,231,1) 1%); 
  
  }
  #bodyHome main section article .caja-detalle{
    position: relative;
  }
  #bodyHome .caja-detalle i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.3s;
   
  
  }
  
  #bodyHome .caja-detalle i:hover{
    transform: rotate(-90deg)
  }
  
  #bodyHome main section article h3{
    text-align: left;
  }
  
  #bodyHome main section article{
  
     width: 43%;
  }
  
  #bodyHome .caja-detalle p {
    color: black;
  }
/*fin del home*/
/*estilos login*/
body#bodyLogin{
    background-image: url("https://cdn.shopify.com/s/files/1/1110/3486/files/a2495535377_10.jpg?11163386226905960286");
    background-size: cover;
    padding: 0 10px;
  }
  
  
  
  #bodyLogin .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    margin-top: 20%;
  }
  
  #bodyLogin .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: plum;
    text-transform: uppercase;
    text-align: center;
  }
  
  #bodyLogin .wrapper .form{
    width: 100%;
  }
  
  #bodyLogin .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
    
  #bodyLogin .wrapper .form .inputfield label{
       width: 200px;
       color: #757575;
       margin-right: 10px;
      font-size: 14px;
    }
    #bodyLogin .wrapper .form .inputfield .input,
    #bodyLogin .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  #bodyLogin .wrapper .form .inputfield .btn{
      width: 100%;
       padding: 8px 10px;
      font-size: 15px; 
      border: 0px;
      background:  plum;
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
      outline: none;
    }
    
    #bodyLogin  .wrapper .form .inputfield .btn:hover{
      background: black;
    }
/*fin estilos login*/
/*register*/
body#bodyRegister{
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/1171/8456/files/71530421_729406894232388_5302369846022799223_n_1024x1024.jpg?v=1636497317");
  background-size: cover;
  
}
#bodyRegister nav .menu{ 
  width: 100%;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 1px;
  left: 0;
  background: #f1f2f3;
  /**/
}

#bodyRegister nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#bodyRegister nav ul li {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#bodyRegister nav a{
  font-size: calc( 1.2rem + 1vw );
  text-decoration: none;
  font-weight: bold;
  color: #00324b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
  flex-grow: 1;
  text-align: center;
  border-top: 5px solid #00324b;
  border-right: 1px solid #00324b;
  flex-wrap: wrap;
  position: relative;
}

#bodyRegister nav li:last-child a {
  border-right: 0;
}





/*FORMULARIO*/


#bodyRegister .wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

#bodyRegister .wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: plum;
  text-transform: uppercase;
  text-align: center;
}

#bodyRegister  .wrapper .form{
  width: 100%;
}

#bodyRegister .wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

#bodyRegister .wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

#bodyRegister .wrapper .form .inputfield .input,
#bodyRegister .wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

#bodyRegister .wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

#bodyRegister .wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

#bodyRegister .wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

#bodyRegister .wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


#bodyRegister .wrapper .form .inputfield .input:focus,
#bodyRegister .wrapper .form .inputfield .textarea:focus,
#bodyRegister .wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid plum;
}

#bodyRegister .wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
#bodyRegister .wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
#bodyRegister .wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#bodyRegister .wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid plum;
  display: block;
  position: relative;
}
#bodyRegister .wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
#bodyRegister .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background:plum;
}

#bodyRegister .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

#bodyRegister button{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  plum;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

#bodyRegister .wrapper .form .inputfield .btn:hover{
  background: black;
}

#bodyRegister .wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}
#bodyRegister .inputfield .input {
  margin-top: 20px;
  align-content: center;
}
/*fin register*/

/*alta Producto*/
#AltaProducto form{
  display: flex;
  background-color: black;
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px;
  padding: 5px;
  font-size:x-large;
 
}

#AltaProducto {
  color: white;
  width: 100%;
  height: 100vh;
  justify-items: center;
  align-content: flex-end;
  background-color: black;
  margin: 20px;
  padding: 10px;
}
#AltaProducto input{
  color: black;
}
#AltaProducto button{
  color: black;
}
#AltaProducto select{
  color: black;
}
#AltaProducto option{
  color: black;
}
/*fin alta Producto*/

/*footer*/
section.infoContacto{
    align-items: flex-end;
}
img.redesSociales{
    align-items: flex-end;
}
.etiquetasPie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
footer a img{
    width: 8%;
}
footer a{
    color: white;
}
footer { 
    /*height: 10vh;*/
    /*bottom: 40px;*/
    height: auto;
    margin-top:35px;
    margin-bottom: 0px;
    border: 1px solid white;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
/*footer*/

@media (min-width:1280px){

}
@media (max-width:1279px){

}
@media (max-width:768px){
    

}

@media (max-width:480px){
  #bodyRegister .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  #bodyRegister .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  #bodyRegister .wrapper .form .inputfield.terms{
    flex-direction: row;
  }

}