*{
    box-sizing:  border-box;
    padding: 0px;
    margin: 0px;
}
img{
    max-width: 100%;
    min-height: 100%;
    padding: 5px;
}

/*header*/
header{
    background-color: white;
    font-size: 90%;
    width: 100%;
}

header nav ul li a{
    width: 15%;
    color: #99DDCC;
    margin: 10px;  
}
header nav ul li{
    display: flex;
    width: 25%;
    align-content: center;
    font-size: 75%;
    justify-content:space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*esto hace el salto de linea*/
}
/*correccion del header, copie lo de rocio y quite el codigo que no hace nada*/
header nav ul li {
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}
header nav a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    flex-grow: 1;
    text-align: center;
    border-top: 5px solid #00324b;
    flex-wrap: wrap;
    position: relative;
    color: #99DDCC;
    box-shadow: black;
}

/*header*/

form p.error{
  color: red;
  font-size: 75%;
}

/*carrito Compras*/
body#bodyCarritoCompras{
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    margin: 20px;
    color: white;
    
}
body#bodyCarritoCompras div.main{
  width: 100%;
  text-align: center;
  min-height: 60vh;
}
body#bodyCarritoCompras table{
  width: 100%;
}
body#bodyCarritoCompras table th{
  text-align: center;
}
body#bodyCarritoCompras table tr.producto{
  border: 1px solid white;
  background-color: #3ccabe;
  margin: 5%;
}
body#bodyCarritoCompras table tr td.detalle{
  display: flex;
  flex-direction: column;
}

body#bodyCarritoCompras table tr td.detalle img{
  display: none;
}
body#bodyCarritoCompras table tr td.detalle p{
  margin: auto;
}
body#bodyCarritoCompras table tr td.unidades button{
  border: none;
}

body#bodyCarritoCompras table tr td.eliminar button{
  border: none;
  background: none;
  font-size: 125%;
}
body#bodyCarritoCompras div.main section.special{
  width: 100%;
}
body#bodyCarritoCompras div.main section.special button{
  width: 45%;
}

/*fin stylos carrito*/


/*estilos unproducto*/

#bodyUnProducto article{
  width: 100%;
  margin: auto;
}
#bodyUnProducto article section {
    margin-top: 2%;
    display: flex;
    border: 1px solid rgb(245, 207, 222);
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-shadow: 1px 1px 6px #fff;
    padding: 10px;
    color: white;
}
body#bodyUnProducto form section.img{
   height: 55vh;
   margin-bottom: 2%;
}
body#bodyUnProducto form section.info{
  height: 45vh;
}
body#bodyUnProducto{
    width: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 40px;
    margin: auto;
}


#bodyUnProducto button {
    
    width: 100%;
    font-size: 15px;
    color: white;
    background: rgb(204,47,223);
    background: linear-gradient(0deg, rgba(204,47,223,1) 34%, rgba(159,34,195,1) 100%);
    border: 2px solid rgb(159,34,195);;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 500;
    text-shadow: 1px 1px 6px #fff;

}
/*fin estilos unProducto*/

/*inicio estilos ModificarProducto*/
body#bodyModificarProducto{
    align-items: center;
    justify-items: center;
    width: 100%;
    background-image: url("https://cdn.shopify.com/s/files/1/1171/8456/files/71530421_729406894232388_5302369846022799223_n_1024x1024.jpg?v=1636497317");
    background-size: cover;

}
#bodyModificarProducto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}


#bodyModificarProducto form .title{ 
    font-size: 24px;
    font-weight: 700;
    color: plum;
    text-align: center;
    margin-bottom: 25px;
}

#bodyModificarProducto form { 
    width: 100%;
    background-color: white;
}

#bodyModificarProducto  .form .inputfield label { 
color: #757575;
font-size: 14px;
}

#bodyModificarProducto  .form .inputfield .input { 
    width: 100%;
    border: 1px solid #d5d5d5;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    margin-top: 20px;
}
#bodyModificarProducto form{
    width: 100%;
    padding: 3%;
    padding-bottom: 2%;
}
#bodyModificarProducto main{
  width: 60%;
  margin: auto;
  margin-top: 2%;
  
}
#bodyModificarProducto main button{
    width: 40%;
    border: none;
    background-color: #99DDCC;
    color: white;
    margin-top: 2%;
}

/*fin de estilos modificar producto*/
/*estilos catalogo*/
body#bodyCatalogo{
    width: 100%;
    height: 100%;
    background-image: url("https://cutewallpaper.org/21/vaporwave-pixel-art-wallpaper/19-Pixel-Art-Wallpapers-that-Will-Make-Your-Desktop-Retro.png"); 
    padding: 2vw;
    margin: auto;
}

body#bodyCatalogo section article{
    display: flex;
    flex-direction:column;
    height: 55vh;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 80%;
}
body#bodyCatalogo section.Productos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  font-size: 225%;
}

#bodyCatalogo section article a{
    height: 85%;
    width: 100%;
    border: 2px solid #99DDCC;
}

#bodyCatalogo section article a img{
  width: 100%;
  height: 100%;
}
#bodyCatalogo section article section.datos{/* Descripcion*/
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25%;
  text-align: center;
  background-color: #99DDCC;
  border: 5px solid white;
}


/*fin estilos catalogo*/


/*Home*/
  body#bodyHome header{
    margin: 2%;
    width: 95%;
  }
  body#bodyHome{
      /*background: linear-gradient(207deg, rgba(241,104,193,1) 0%, rgba(189,94,213,1) 62%);*/
      background-color: white;
      padding: 2%;
      width: 100%;
  }
  /*CSS del slider*/
  #bodyHome section.slider ul {
    display: flex;
    width: 300%;
    animation: cambio 12s infinite alternate;
  }
  
  #bodyHome section.slider ul li {
    list-style: none;
    width: 100%;
    margin: 1%;
  }
  #bodyHome main section.slider {
    overflow: hidden;
  }

  

  #bodyHome main{
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
  }

 #bodyHome main section.Ofertas {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 90%;
     margin: auto;           
  }
  #bodyHome main section.Ofertas article{
    height: 45vh;
    text-align: center;
    border: 1px solid #99DDCC;
  }
  #bodyHome main section.Ofertas article div.imagenProducto{
    height:85%;
    margin: auto;
  }
  #bodyHome main section.Ofertas article div.imagenProducto img{
    height:30vh;
    margin: auto;
    text-align: center;
  }
  #bodyHome main section.Ofertas article div.nombre-precio{
    height:12%;
    margin: auto;
    border: 1px solid #99DDCC;
  }
  

  
  
  
 

/*fin del home*/


/*ESTILOS LOGIN*/

body#bodyLogin{
    background-image: url("https://cdn.shopify.com/s/files/1/1110/3486/files/a2495535377_10.jpg?11163386226905960286");
    background-size: cover;   
    padding: 2%;
    width: 100%;
  }
  
  #bodyLogin .wrapper{        /*fondo del formualrio*/
    
      width: 100%;
      height: 55%;   
      margin: auto;
      padding: 30px;
      margin-top: 10%;
      margin-bottom: 10%; 
      align-items: center;

  }

  #bodyLogin .wrapper form{    /*titulo usuario*/
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    color: red;
    font-size: medium;
    text-align: center;
    max-width: 400px;
    height: 250px;
    margin: auto;
  }
  #bodyLogin .wrapper input{
    border: none;
    font-size: 100%;
    margin: auto;
    height: 15%;

  }
 
  #bodyLogin .wrapper form .title{          /*titulo inicio de sesión*/
    font-size: 24px;
    font-weight: 700;
    margin:auto;
    color: plum;
    text-transform: uppercase;
    text-align: center;
  
    height: 25%;
  }
  #bodyLogin .wrapper form button{
    width: 100%;
    background-color: #23d6be;
    color: white;
    border: none;
    height: 25%;
  }
  #bodyLogin .wrapper form input{
      text-align: center;
  }
/*FIN ESTILOS LOGIN*/


/*REGISTER*/
body#bodyRegister{
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/1171/8456/files/71530421_729406894232388_5302369846022799223_n_1024x1024.jpg?v=1636497317");
  background-size: cover;
  padding: 5%;
}

/*FORMULARIO*/


#bodyRegister .wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

#bodyRegister .wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: plum;
  text-transform: uppercase;
  text-align: center;
}

#bodyRegister  .wrapper .form{
  width: 100%;
  color: black;
}

#bodyRegister .wrapper .form .inputfield{        
  margin-bottom: 15px;
  align-items: center;
}



#bodyRegister .wrapper .form .inputfield label{
   width: 200px;
   margin-right: 10px;
   font-size: 14px;
}

#bodyRegister .wrapper .form .inputfield .input
{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

#bodyRegister .wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}

#bodyRegister .wrapper .form h1{
  font-size: 14px;
  color: gray;
  display:flex;
  justify-content: space-around;
}
/*termino el modifico del estilo de validaciones en register*/

#bodyRegister form div.termsAndConditions{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

#bodyRegister button{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  plum;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

#bodyRegister .wrapper .form .inputfield .btn:hover{
  background: #99DDCC;
}

#bodyRegister .wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}
#bodyRegister .inputfield .input {
  margin-top: 20px;
  align-content: center;
}
/*fin register*/



/*alta Producto*/
#AltaProducto form{
  display: flex;
  background: radial-gradient(circle, rgba(255,221,236,1) 0%, rgba(143,34,149,1) 100%);
  border: 1px solid white;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
  padding: 5px;
  font-size:100%;
  margin-top: 5%;
 
}


body#AltaProducto {
  
  width: 100%;
  padding: 10px;
  color: white;
  text-shadow: #555 2px 2px 3px;
  background: radial-gradient(circle, rgba(255,221,236,1) 0%, rgba(143,34,149,1) 100%);
}
body#AltaProducto form section.inputImage{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}
body#AltaProducto form input{
  margin: 2%;
}

#AltaProducto input.imagenProducto{
  color: white;
  background-color: lightblue;
  margin-top:5px;
	border:1px solid transparent;
  padding: 5px;
  width: 80%;
  content: "Subir img Producto";
}

#AltaProducto button{
  color: white;
  background-color: lightblue;
  margin-top:20px;
	border:1px solid transparent;
  padding: 5px;
  font-size: 16px;
  
}


#AltaProducto select{
  color: white;
  background-color: lightblue;
  margin-top:0px;
	border:1px solid transparent;
  padding: 5px;
  font-size: 16px;
}
body#AltaProducto main.main{
  width: 100%;
  height: 60vh;
  text-align: center;
}

/*fin alta Producto*/

/*footer*/
footer {
 /* display:  flex;*/
 /* flex-direction: column;
  margin: 10px;*/
  margin-top: 55px;
  border-top: 1px solid black;
  color: #c772db;
  width: 100%;
  /*height: 10%;*/
 /* margin-bottom: 5%;
  flex-grow: 1;*/
  line-height: 1.8;
  background: url(../images/FONDO\ NEGRO.jpg) repeat-x top;
  padding: 24px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  float: left;
  text-align: center;
}

footer a img{
   width: 5%;
   text-align: center;
}
footer a{
  color:#c772db;
  font-size: 20px;
}
footer section ul li {
  display: flex;
  justify-content: center; 
}


/*footer*/

/*ERROR 404*/
.not{
    
  background: rgb(10, 2, 19);
  font-family: Montserrat, sans-serif;;
  color: white;
}

.error{
text-align: center;

}
.not-found{
text-align: center;
}

/*ERROR 404*/

/*MENU ADMIN*/
body#MenuAdmin{
  background-color: #FF5DA2;
}
body#MenuAdmin div{
  margin-top: 5%;
  height: 59vh;
  font-size: 150%;
}
body#MenuAdmin div ul{
  width: 100%;
  justify-content: center;
  align-content: center;
}

body#MenuAdmin div ul li{
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  justify-content: center;
}



@media (min-width: 768px) and (max-width: 1279px ) {
  header{
    font-size: 225%;
  }
  body#bodyCatalogo section.Productos{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: 125%;
    margin: 1%;
  }
  body#bodyCatalogo section article{
    width: 42%;
    margin: 3%;
  }
 
  body#bodyCarritoCompras{
    justify-content: center;
  }

  body#bodyCarritoCompras table#ListaCompras{
    width: 60%;
  }
  #bodyLogin .wrapper form{
    width: 60%;
  }
  #AltaProducto form{
    width: 60%;
  }
  body#bodyCarritoCompras div.main section.special button{
    font-size: 125%;
  }
  #bodyHome main section.Ofertas article{
    width: 45%;
    margin: auto;
    margin-top: 2%;
  }

  #bodyUnProducto article{
    
    width: 60%;
    margin: auto;
  }
  
  #bodyHome main section.Ofertas {
    flex-direction: row;        
 }

}
@media (min-width: 1280px){
  header{
    font-size: 225%;
  }
  body#bodyCatalogo section.Productos{
    font-size: 100%;
  }
  body#bodyCatalogo section article{
    width: 23%;
    margin: 1%;
  }

  footer{
    width: 100%;
    font-size: 100%;
  }
  #bodyLogin .wrapper form{
    width: 40%;
  }
  #AltaProducto form{
    width: 40%;
  }
  body#bodyCarritoCompras div.main section.special button{
    font-size: 125%;
  }
  #bodyHome main section.Ofertas article{
    width: 22%;
  }
  #bodyUnProducto article{
    width: 40%;
    margin: auto;
  }
  #bodyHome main section.Ofertas {
    flex-direction: row;
    justify-content: space-around;         
 }
  
}
@keyframes cambio {
  0%{margin-left: 0%;}
  50%{margin-left: -100%;} 
  100%{margin-left: -200%;}  
}
