<!DOCTYPE html>
<html>
<%- include('./partials/head') %> 
    <body id="bodyHome">
        <%- include('./partials/header')%>


                        <!--ERROR 404-->
        <div class="not">
   
    <div class="error">
        <h1>404!</h1>
        </div>
        <div class="not-found"><h1>¡OOPS! La página que buscas no se encuentra disponible. </h1></div>
<br><br><br>
        <div class="no-se">
            <p><a href='/' class="follow"><i class="fas fa-chevron-circle-left"></i> Volver al Inicio</a></p>
        </div>

                             <!--ERROR 404-->

                             
                <%- include('./partials/footer')%>
</body>
    </html>