<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width">

        <link rel="stylesheet" href="/css/CarritoStyle.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">

    </head>
    <body>
         <%- include('./partials/header')%>
        <table id="ListaCompras">
            <thead>
                <tr>
                    <th id="Producto">Producto</th>
                    <th id="PrecioUnitario">Precio Unitario</th>
                    <th id="Cantidad">Cantidad</th>
                    <th id="PrecioTotal">Precio Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td class="dproducto">
                        <img src='/images/productoEjemplo1.png' alt="Imagen de Producto" class="img"> 
                    </td>
    
                    <td class="dproducto"> 
                        <label>1000$</label>
                    </td>
    
                    <td class="dproducto">
                        <button type="button">+</button>
                        <label for="">1</label>
                        <button type="button">-</button>
                    </td>
    
                    <td class="dproducto"> 
                        <label>1000$</label>
                    </td>
    
                    <td class="NoProducto">
                        <button type="delete"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                <tr>
                    <td class="dproducto">
                        <img src="/images/productoEjemplo2.png" alt="Imagen de producto2" id="ImagenProducto"> 
                    </td>
                    <td class="dproducto">
                        <label>50$</label>
                    </td>
                    <td class="dproducto">
                        <button type="button">+</button>
                        
                        <label for="">1</label>
                    
                        <button type="button">-</button>
                    </td>
                    <td class="dproducto"> 
                        <label>1000$</label>
                    </td>
                    <td class="NoProducto">
                        <button type="delete" > <i class="far fa-trash-alt"></i> </button>
                    </td>
                </tr>
            </tbody>
            <tbody class="resultados">
                <tr class="resultados">
                    <td class="NoProducto"></td>
                    <td class="NoProducto"></td>
                    <td class="resultados">
                        <label >Total Neto: </label>
                    </td>
                    <td class="resultados"> 
                        <label for="obtenerTotal"> 1050$</label>
                    </td>
                    <td class="NoProducto"></td>
                </tr>
            </tbody>
            


        </table>
        <section class="special"> 
            <button type="submit">Realizar Pedido</button>
            <br>
            <button type="submit">Seguir Comprando</button>
        </section>
        <%- include('./partials/footer')%>
    </body>
</html>