<!DOCTYPE html>
<html>
<%- include('./partials/head') %> 
    <body id="bodyHome">
        <%- include('./partials/header')%>
                   <!--PRINCIPIO DEL MAIN-->
                <main>
                    <section class="slider"><!-- prueba del slider-->

                            <ul class="slider">
                                <li id="slide1"><img src="/images/slide1.jpeg" alt=""></li>
                                <li id="slide2"><img src="/images/slide2.jpeg" alt=""></li>
                                <li id="slide3"><img src="/images/slide3.jpeg" alt=""></li>
                            </ul>
                    </section><!-- fin prueba del slider-->
               <!--<h3>Basado en tu ultima visita</h3> -->
                    <section class="Ofertas">
                        <article>
                            <div class="imagenProducto">
                              <img src="/images/product/promo1.png" alt="#">
                            </div>

                                
                      <div class="nombre-precio"> 
                                    <p class="nombreProducto-Precio">CHAQUETA BOMBER <br> $4550 ARS </p>
                                </div>
                         <!--   <i class="fas fa-truck"></i> -->
                            </div>
                         <!--   <i class="fas fa-truck"></i> -->
                            
                        </article>

                        <article>
                            <div class="imagenProducto">
                               <img src="/images/product/promo3.png" alt="" >
                            </div>

                              <div class="nombre-precio"> 
                                    <p class="nombreProducto-Precio">VICE CAMISA HAWAIANA <br>$1500 ARS</p>
                                </div>
                             <!--   <i class="fas fa-truck"></i> -->
                            </div>
                             <!--   <i class="fas fa-truck"></i> -->
                            
                        </article>
                        <article>
                            <div class="imagenProducto">
                              <img src="/images/product/p3.png" alt="">
                            </div>

                               <div class="nombre-precio"> 
                                    <p class="nombreProducto-Precio">SUDADERA NEW CHALLENGER<br> $23990 ARS </p>
                                </div>
                              <!--<i class="fas fa-truck"></i>-->
                            </div>
                              <!--<i class="fas fa-truck"></i>-->
                           
                        </article>
                    </section>
            </main>
                <!--FIN DEL MAIN-->
                <%- include('./partials/footer')%>
        
    </body>
</html>