* {
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo img {
   width: 100px;
}

.cabecera {

}


.conteiner {

}

.regristro-cupon {
    
}

.form-register {

}

.datos-personales {

}