* {
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 361px) {
  
}

@media (min-width:7668px) {
  
}

.logo img {
   width: 100px;
}

.cabecera {
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    right: 0;
    justify-content: space-between;
    align-items: center;
    margin-right: 52px;
}
