<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https: //fonts.googleapis.com/css2? family = Roboto: wght @ 300 & display = swap "rel =" stylesheet ">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>
    <div class="logo">
        <img src="" alt="logo de Clopix">
         </div>
    <div class="cabecera">
        <div class="contenido">
            <nav>
                <ul>
                    <li><a href="#">TIENDA</a></li>
                    <li><a href="#">CATÁLOGOS</a></li> 
                    <li><a href="#">NOSOTR@S</a></li>
                </ul>
            </nav>

        </div>


        <div class="barra-lateral">
            <a target="_blank" href=""><img src=""></a>
        </div>
    </div>
    <div class="pie">
    <p>© </p>
    </div>
</body>
</html>

