<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https: //fonts.googleapis.com/css2? family = Roboto: wght @ 300 & display = swap "rel =" stylesheet ">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>
    <div class="logo">
        <img src="" alt="logo de Clopix">
         </div>
    <div class="cabecera">
        <div class="contenido">
            <nav>
                <ul>
                    <li><a href="#">TIENDA</a></li>
                    <li><a href="#">CATÁLOGOS</a></li> 
                    <li><a href="#">NOSOTR@S</a></li>
                </ul>
            </nav>

        </div>

        <ul>
            <li><a href="/registro">Crea tu cuenta <i class=""></i></li></a></li>
            <li><a href="/login">Ingresa <i class=""></i></a></li>
            <li><a href="#"> <i class=""></i></a></li>
        </ul>

        <nav>
            <ul class="menu">
                <li><a href="#slide1">Diapositiva 1<//a></ li>
                <li><a href="#slide2">Diapositiva 2<//a></ li>
                <li><a href="#slide3">Diapositiva 3<//a></ li>
                <li><a href="#slide4">Diapositiva 4<//a></ li>
                <li><a href="#slide5">Diapositiva 5<//a></ li>
        </ul>
        </nav>



        <div class="barra-lateral">
            <a target="_blank" href=""><img src=""></a>
        </div>
    </div>

    <div class="pie">
        <div class="logo">
            <img src="" alt="logo de Clopix">
             </div>


        <ul>
            <li><a href="#">Información <i class=""></i></li></a></li>
            <li><a href="#">Talles <i class=""></i></a></li>
            <li><a href="#">Devoluciones <i class=""></i></a></li>
            <li><a href="#">Contacto <i class=""></i></a></li>
            <li><a href="#">+Sumate <i class=""></i></a></li>
            <li><a href="#">Ofertas <i class=""></i></a></li>
        </ul>

    <p>© </p>

    </div>
</body>
</html>

