<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clopix</title>
    <link rel="stylesheet" type="text/css" href="register.html">
</head>
<body>
    <div class="logotipo">
        <a href="/"><img src=""/></a>
    </div>
    <div class="cabecera">
        <div class="contenido">
            <nav>
                <ul>
                    <li><a href="#">TIENDA</a></li>
                    <li><a href="#">CATÁLOGOS</a></li> 
                    <li><a href="#">NOSOTR@S</a></li>
                </ul>
            </nav>
            <h1></h1>
            <h2></h2>
            <p><a target="_blank" href=""></a></p>
            <p>...</p>
            <h2></h2>
            <p></p>
            <p>...</p>
        </div>
        <div class="barra-lateral">
            <a target="_blank" href=""><img src=""></a>
        </div>
    </div>
    <div class="pie">
    <p>© </p>
    </div>
</body>
</html>

