<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/public/css/stylesCarrito.css" rel="stylesheed" >
    </head>
    <body>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
            <tr>
                <td>
                    <img src="/public/img/producto.png" alt="Imagen de Producto" width="400" id="ImagenProducto"> 
                    <br>
                    <label id="DetalleProducto">detalle producto</label>
                </td>
                <td> 
                    <label>1000$</label>
                </td>
                <td>
                    <button type="button">+</button>
                    <label for="">1</label>
                    <button type="button">-</button>
                </td>
                <td>
                    <button type="delete">X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/public/img/producto2.png" alt="Imagen de producto2" width="400" id="ImagenProducto"> 
                    <br>
                    <label id="DetalleProducto">detalle producto</label>
                </td>
                <td>
                    <label style="color: blue;">50$</label>
                </td>
                <td>
                    <button type="button">+</button>
                    <label for="">1</label>
                    <button type="button">-</button>
                </td>
                <td>
                    <button type="delete">X</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <label for=""> Total: 1050$</label>
                </td>
            </tr>


        </table>
        <section> 
            <button type="submit">Realizar Pedido</button>
        </section>

    </body>
</html>