

<form action="action_page">
    <div class="container">
      <h1>Registro</h1>
      <p>Por favor llene este formulario para crear una cuenta.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repita la contraseña</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>Al crear una cuenta, acepta nuestros<a href="#">Términos y privacidad</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container-signin">
      <p>¿Ya tienes una cuenta?<a href="#">Sign in</a>.</p>
    </div>
  </form>