<footer>
    <section class="infoContacto">
        <ul class="etiquetasPie">
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Catálogos</a></li>
            <li><a href="#">Nosotr@s</a></li>
        </ul>    
        <p>Siguenos en nuestras redes Sociales, para no perderte ninguna novedad con respecto a nuestros productos</p>
        <a> <img src="/images/instagram.png" alt="Nuestro Instagram" class="redesSociales"></a>
        <a> <img src="/images/facebook.png" alt="Nuestro facebook" class="redesSociales"></a>
    </section>

</footer>
