<header>
    <div class="menu"> 
        
      
      <nav>
         
          <ul>
            <li><img src="/images/logoCloplix.jpeg" alt="Logo Cloplix"> </li>
            <li><a href="/Producto">Tienda</a></li>
            <li><a href="/Producto">Catálogos</a></li>
            <li><a href="#">Nosotr@s</a></li>

                <a href="/"><i class="fas fa-home" style="color: black;"></i></a>
                <a href="/Producto/"><i class="fas fa-tag" style="color: black;"></i></a>
                <a href="/Producto/Carrito"><i style="color: black;" class="fas fa-shopping-cart"></i></a>
                <a href="/User/register"><i style="color: black;" class="fas fa-sign-in-alt"></i></a>
                <a href="/User/login"><i style="color: black;" class="far fa-user"></i></a>
            
          </ul>
      </nav>
      
    </div>
</header>


