<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head')  %> 
<body id="bodyLogin">

  <%- include('../partials/header')%>

<div class="wrapper">
    <div class="title">
        Inicio de sesión 
    </div>

    <div class="form">
        <div class="inputfield">
        <label>Usuario</label>
        <input type="text" class="input">
        </div>  
  
        <div class="inputfield"> 
        <label>Contraseña</label>
        <input type="text" class="input">
        </div>

        <div class="inputfield">
        <a href="">
        <input type="submit" value="Iniciar sesión" class="btn"  >
        </a>
        </div>
    </div>


</div>
<%- include('../partials/footer')%>
</body>
</html>