<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head')  %> 
<body id="bodyLogin">

  <%- include('../partials/header')%>

<div class="wrapper">
    <div class="title">
        Inicio de sesión 
    </div>

    <form action="/user/loading" method="post">
        <div class="inputfield">
        <label>Usuario</label>
        <input type="text" class="input" name="user">
        </div>  
  
        <div class="inputfield"> 
        <label>Contraseña</label>
        <input type="password" class="input" name="password">
        </div>

        <div class="inputfield">
        <a href="">
            <button type="submit">Logear</button>
        </a>
        </div>
    </form>


</div>
<%- include('../partials/footer')%>
</body>
</html>