<!DOCTYPE html>
<html>
<%- include('../partials/head')  %> 
<body id="bodyOk">
    <%- include('../partials/header')%>
    <main>
        <a href="/user/profile">

            <img src="/images/Evil_Kumo.png" alt="todoOK">
        </a>

    </main>

    <%- include('../partials/footer')%>
</body>
</html>