<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width">

        <link rel="stylesheet" href="/css/register.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">

    </head>
    <body>
      <%- include('../partials/header')%>
    
        <div class="wrapper">
            <div class="title">
              Formulario de Registro 
            </div>
            

            <form action="/User/Alta" method="post" class="form">
              <div class="inputfield">
                <label>Nombre completo</label>
                <input type="text" class="input" name="nombreCompleto">
              </div>  
              
              <div class="inputfield">
                <label>E-mail</label>
                <input type="text" class="input" name="mail">
              </div>  
              <div class="inputfield">
                <label>Celular</label>
                <input type="text" class="input" name="celular">
              </div>  
         <!--Datos de ingreso-->      
              <div class="inputfield">
                <label>Nombre de usuario</label>
                <input type="text" class="input" name="usuario">
              </div>  
              <div class="inputfield">
                <label>Contraseña</label>
                <input type="password" class="input" name="pasword">
              </div>  
              <div class="inputfield">
                  <label>Confirmar contraseña</label>
                  <input type="password" class="input" >
              </div> 


              
              <div class="inputfield terms">
                  <label class="check">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <p>Acepto términos y condiciones</p>
               </div> 
              <div class="inputfield">
                
                <button type="submit"> Crear Cuenta </button>
                
              </div>
              
            <!--class container-signin-->
          
            <div class="container-signin">
              <p>¿Ya tienes una cuenta?<a href="#">Iniciar sesión</a>.</p>
            </div>
              
          </form>
        </div>	
        <%- include('../partials/footer')%>

    </body>
</html>
  